.experience {
    position: relative;
    top: 7.5rem;

    .vertical-timeline:before {
        background: #3e497a;
    }

    span.vertical-timeline-element-date {
        text-align: start;
    }
}